.client {
    // @extend %section;

    @include section(94px);
    @media screen and (min-width: 320px){
      padding: 60px 0;
    }
    @media screen and (min-width: 1200px){
      padding: 94px 0;
    }
}

.client__list {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 30px;


    
  }
  // .client__item:not(:last-child) {
  //   margin-right: 30px;
  //   }
  .client__item {
    @media screen and (min-width: 480px){
      width: calc((100% - 60px) / 2); 
   }
  @media screen and (min-width: 768px) {
  width: calc((100% - 90px) / 3); 
  flex-wrap: wrap;
  
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 6);      
  }   
  }
  .client__link {  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    color: #AFB1B8;
  
    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color:#2196F3;
    border: 1px solid #2196F3;    
  } 
  @media screen and (min-width: 768px) {
    width: 226px;    
    }  
    @media screen and (min-width: 1200px) {
      width: 170px;      
    }   
}

  .client__icon {
    fill: currentColor;
  }
