.header {
  @media screen and (max-width: 768px) {
    height: 60px;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid #ececec;
    background-color: #FFFFFF;    
  }
  @media screen and (min-width: 768px) {
  // position: fixed;
    height: 80px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  // z-index: 1;
  }
}
.header-container {
  @media screen and (min-width: 768px) {
  display: flex;
  align-items: center;
  } 
}
.logo-dark {
  padding: 24px 0px 25px;
  color: #000000;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus{
  color: var(--hover-focus-color);
  }
}
.header-button {
  background-color: #ffffff;
  color: #000;
  border: none;
  // z-index: 2;
}
.header__icon-close {
  display: none;

}
.header__icon-menu {
  display: block;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 15px;
}
.is-open .header__icon-close {
  display: block;
} 
.is-open .header__icon-menu {
  display: none;
}
.mob-menu {
  
  @media screen and (max-width: 767.5px) {
    display: flex;

  position: fixed;
  z-index: 2;
  background-color: #FFFFFF;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 0 48px 40px;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
  
  }
}
// ----------------------------не работает автоотступ
.nav {
  display: flex;
  align-items: center;
}
.nav-item:not(:last-child)  {
  
  margin-bottom: 32px;
}
.nav-list {
  
  @media screen and (min-width: 768px) {
  display: flex;
  align-items: center;
  margin-left: 83px;
  gap: 50px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    margin-left: 93px;
    gap: 50px;

  }
}
.nav-link {
  @media screen and (max-width: 767.5px) {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47/40);
  letter-spacing: 0.02em;
  
  color: #212121;
  }

  padding: 32px 0;
  color: #212121;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  color: var(--hover-focus-color);
  }
}
.active-current {
  @media screen and (min-width: 768px) {
    position: relative;
  color: #2196f3;
  &::after {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    display: block;
    width:100%;
    height: 4px;
  
    background-color:  #2196F3;
    border-radius: 2px;
  } 
  }
  
}
.mob-wrap {

}
.contacts {
  display: flex;
  flex-direction: column-reverse;

  @media screen and (max-width: 767.5px) {
    margin-top: 32px;
  }
  @media screen and (min-width: 768px) {
    display: block;
  margin-left: auto;
  .header-mail {
    display: flex;
    align-items: center;
    padding: 21px 0 5px;
    }
    .header-tel {
      display: flex;
      align-items: center;
      padding: 5px 0 21px;
      }  
}
@media screen and (min-width: 1200px) {
  display: flex;
  flex-direction: unset;
  margin-left: auto;
  .contacts__mail,
  .contacts__tel {
    display: flex;
    align-items: center;
    padding: 32px 0;
    margin-right: 30px;
    }
  }
}
// .contacts__list  {

// }
.contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  color: var(--hover-focus-color);
  }
  @media screen and (max-width: 767.5px) {
      display: flex;
      margin-top: 32px;
  }
}
.contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: #2196F3;
  
  @media screenn and (min-width: 768px) {
    color: #757575;
  }
    &:hover,
    &:focus {
    color: var(--hover-focus-color);
    }
  }


.icon-mail,
.icon-smartphone {
    display: none;
    margin-right: 10px;
    fill: currentColor;
  @media screenn and (min-width: 768px) {
    display: block; 
    display: none;
    margin-right: 10px;
  }
}
// не србатывает display: block; 