.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 80px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
  background-color: #FFFFFF;

  z-index: 1;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo-dark {
  padding: 24px 0px 25px;
  color: #000000;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus{
  color: var(--hover-focus-color);
  }
}
.site-nav {
  @media screen and (min-width: 480px) {

  }
  @media screen and (min-width: 768px) {
  display: flex;
  align-items: center;
  margin-left: 83px;
  gap: 50px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    margin-left: 93px;
    gap: 50px;

  }
}
// .header-item:not(:last-child) {
//   margin-right: 50px;
// }
.header-link {
  padding: 32px 0;
  color: #212121;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  color: var(--hover-focus-color);
  }
}
.active-current {
  position: relative;
  color: #2196f3;
  &::after {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    display: block;
    width:100%;
    height: 4px;
  
    background-color:  #2196F3;
    border-radius: 2px;
  } 
}
.contacts {
  @media screen and (min-width: 480px) {

  }
  @media screen and (min-width: 768px) {
  margin-left: auto;
  .header-mail {
    display: flex;
    align-items: center;
    padding: 21px 0 5px;
    }
    .header-tel {
      display: flex;
      align-items: center;
      padding: 5px 0 21px;
      }  
}
@media screen and (min-width: 1200px) {
  display: flex;
  margin-left: auto;
  .header-mail,
  .header-tel {
    display: flex;
    align-items: center;
    padding: 32px 0;
    margin-right: 30px;
    }
  }
}
.header-mail,
.header-tel {
  color: #757575;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  color: var(--hover-focus-color);
  }
}
.icon-mail,
.icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
}