.backdrop {
    position: fixed;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 100;
    
    &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    }

    @media screen and (min-width: 320px) {
      padding: 94px 15px 93px;
      overflow-y: scroll;
    }   
  }  
  .modal {
    padding:  40px;
    position: absolute;
    top: 50%;
    left: 50%;

    max-width: 450px;
    width: 100%;
  
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  
    transform: translate(-50%,-50%) scale(1);
    opacity: 1;
    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .backdrop.is-hidden & {
        transform: translate(-50%,-50%) scale(0.2);
        opacity: 0;
      }
      @media screen and (min-width: 1200px) {
        max-width: 528px;
        width: 100%;
      }
  }
  .modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: 0;
    
    position:absolute;
    top: 8px;
    right: 8px;
  
    width: 30px;
    height: 30px;
  
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;  
    
  }  
  .close-icon {
    fill: currentColor;
    &:hover {
     color:  var(--hover-focus-color);
     }
  }
  .form-title {   
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
  
    color: #212121;
    @media screen and (min-width: 768px)  {
      line-height: 1.15;

    }
  }
  .form-list {
    margin-bottom: 20px;
  }
  .form-field {
    display: flex;
    flex-direction: column;
    position: relative;
  
    margin-bottom: 10px;
  }
  .form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  
    color: #757575;
  }
  .form-input {
    margin-top: 4px;
    padding-left: 42px;  

    max-width: 448px; 
    width: 100%;
    height: 40px;    
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  
    color: #000000;
  
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    cursor: pointer;
    &:focus {
    border: 1px solid #2196f3;
    border-radius: 4px;
    outline: none;
    }
  }  
  .form-icon {
    position: absolute;
    bottom: 0;
    top: 20px;
    left: 12px;
    transform: translateY(50%);
    width: 18px;
    height: 18px;
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .form-input:focus ~ & {
      fill: var(--hover-focus-color);
    }
  }  
  .form-textarea {
    max-width: 448px;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
  
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  
    color: rgba(117, 117, 117, 0.5);
  }
  .form-field .input {
    margin: 0;
    padding: 12px 42px;
    border-radius: 4px;
    border: 1px solid #2a2a2a ;
  }
  .checkbox-label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    letter-spacing: 0.03em;
    font-size: 12px;
    line-height: 1.17;
  
    color: #757575;
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.71;
    }
  }
  .checkbox-input {
    // -webkit-appearance: none;
    // -moz-appearance: none;
    //      appearance: none;
  
    position: absolute;
  
    width: 10px;
    height: 10px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .checkbox-icon {
    display: flex;
    align-items: center;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 2px solid #2a2a2a;
    border-radius: 2px;
    .checkbox-input:checked ~ & {
    background-color:  var(--hover-focus-color);
    border: none;
    }
  }
  .check-icon {
    position: absolute;
    left: 12px;
    width: 16px;
    height: 15px;
    fill: #FFFFFF;
  
    transition: background-color 250ms var(--time-function);
    .checkbox-input:checked ~ & {
        background-color:  var(--hover-focus-color);
        border: none;
        }
  }
  .pact-link {  
    margin: 0;
    padding: 0;
    color: #2196f3;
  }
  .form-button {
    width: 200px;
    height: 50px;
  
    padding: 0;
    border: 0;
  
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  
    font-family: 'Roboto';
    font-weight: 700;
  
    line-height: 1.88;
    letter-spacing: 0.06em;
  
    color: #ffffff;
  
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    &:hover {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    }    
  }
  