.work {
  @extend %section;
  padding-top: 47px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.work-list {
  display: flex;
  margin-top: 50px;
}
.work-item:not(:last-child) {
  margin-right: 30px;
}
.work-item {
  position: relative;
}
.work-card-title {
  position: absolute;
  bottom: 0;
  padding: 27px;
  min-width: 370px;

  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
