.subscription-form {
    margin-top: 60px;
    @media screen and (min-width: 1200px) {
      margin-left: auto;
      margin-top: 0;
    }
  }
  .subscription-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    @media screen and (min-width: 1200px) {
    text-align: unset;
    }
  }
  .subscription-mail-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 1200px) {
      flex-direction: unset;
      justify-content: unset;
      align-items: unset;
    }
  }
  .subscription-input {    
    margin:0 0 20px;
    max-width: 450px;
    width: 100%;
    padding: 15px 16px;
    height: 50px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    background-color:  #2F303A;
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    @media screen and (min-width: 1200px) {
    margin: 0 12px 0 0;
    width: 358px;
    max-width: disabled;
  }
}
  .subscription-mail-form input::placeholder {
    padding-top: 15px 0;
  }
  .subscription-button {  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    padding: 0;
  
    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
  
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
  }
  .subscription-icon {
    display: flex;
    margin-left: 10px;
    fill: currentColor;
    color: #FFFFFF;
  }